<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoList</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
<h1>Todo List App</h1>

<form action="/add" method="POST">
    <label for="todo">Todo:</label>
    <input type="text" name="todo" />
    <input type="submit" />
</form>


<table>
    <thead>
    <tr>TodoList</tr>
    </thead>
    <tbody>
    <% todoList.todos.forEach(function(todo){ %>
        <tr>
            <td><%= todo %></td>
        </tr>
    <% }); %>
    </tbody>
</table>
</body>

</html>
